

body {
	margin:0;
	padding:0;

	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;

}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 18px ;
	line-height: 24px;
	color: #000000;
	background-color: #f7e296;
}

.navigation-top {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	
}



.triger-popup,
.navigation-bottom{
	font-weight: 800;
	letter-spacing: 3px;
}

.device-header a {
	color: #000000;
	font-size: 48px;
	line-height: 48px;
	letter-spacing: 0.012em;
}

.navigation-catalog,
.popup-header,
.navigation-top,
.navigation-bottom {
	list-style: none;
}

.navigation-catalog a,
.popup-header a,
.navigation-top a,
.navigation-bottom a {
	color: #000000;
} 


.device-header a:hover,
.device-header a:focus,
.navigation-catalog a:hover,
.navigation-catalog a:focus,
.popup-header a:hover,
.popup-header a:focus,
.navigation-top a:hover,
.navigation-top a:focus,
.navigation-bottom a:hover,
.navigation-bottom a:focus

 {
	opacity: 0.6;
}


.about h2,
.contacts h2 {
	font-size: 47px;
	line-height: 48px;
}

.about p,
.contacts p {
	font-family: "Open Sans";
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
}

.services-list {

	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
}

.more-info,
.feedback-link {
	font-family: "Gilroy";
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	line-height: : 24px;
	color: #000000;
	font-weight: 800;
	letter-spacing: 3px;
	/*background-color: #ffc600;*/
}

.button {
	font-family: "Gilroy";
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	line-height: : 24px;
	color: #000000;
	font-weight: 800;
	letter-spacing: 3px;
	background-color: #ffc600;
}

.main-footer {
	color: #ffffff;
	background-color: #464646;
}

.main-footer a {
	color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
	opacity: 0.6 ;
}

.main-footer a:active {
	opacity: 0.3 ;
}

.main-footer ul {
	list-style: none;
}

.footer-device-logo a {
	color: #ffc600;
	font-family: "Gilroy";
	font-size: 48px;
	font-weight: 800;
}

.footer-social {
	text-align: center;
}
.footer-social a{
	opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
	opacity: 0.6;
}

.footer-social a:active {
	opacity: 0.1;
}

.footer-middle {
	text-align: center;
	font-weight: 800; 
}

.footer-text-right,
.footer-text-left {
font-family: "Open Sans";
font-size: 15px;
line-height: 30px;
font-weight: 300;
}

.footer-left a{
	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans";
	font-weight: 300;
	
}

.footer-left a {
	opacity: 0.7;
}






.footer-left a:hover,
.footer-left a:focus
 {
	opacity: 1;
}

.footer-left a:active
 {
	opacity: 0.3;
}


.device-header a:active,
.navigation-catalog a:active,
.popup-header a:active,
.navigation-top a:active,
.navigation-bottom a:active {
	opacity: 0.3;
}









/*
СТИЛИ КАТАЛОГА
*/



.cat-hdr {
	min-height: none;
}


.monopods {
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
}

.breadcrumbs li{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;

	list-style: none;

	color: #000000;
}
.breadcrumbs-current {opacity: 0.3;}
.breadcrumbs a {opacity: 0.3;}

.breadcrumbs a:hover {
	opacity: 0.6
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter ul {
  list-style: none;
  line-height: 40px;
}


.filter-input-checkbox:disabled + label {
  color: #a6a6a6;

}

.filter-background-color {
	background-color: #eeeeee;
}

.catalog-list {
	list-style: none;
}



.catalog-item:hover {

}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 24px;
}

.catalog-item-price b {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #464646;
  font-weight: 300;
}



.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;


}


/* Сеточные стили */

html, 
body {

min-width: 1240px;
}


h1.device-header {
  margin:0;
  padding: 0;
  
  position: absolute;
  left: 57px;
  top: -24px;
  font-size: 48px;
}


.main-header {
	width: 1160px;
	position: relative;
	min-height: ;
	margin: 0 auto;
	margin-top: 40px;

}

nav.main-navigation {

display: flex;
flex-direction: column;
background-color: #f7e296;
padding-left: 60px;
padding-right: 60px;
justify-content: space-between;


}

.left-flex-header {
	display

}

.main-header ul {
	margin: 0;
	padding: 0;
	
}


.upper-header {

	display: flex;
	justify-content: space-between;

	/*padding-top: 43px;*/
    margin-bottom: 37px;
	line-height: 0.01px;
	
  align-items: flex-end;
}

.bottom-flex-header {

	display: flex;
	justify-content: space-between;


}

.bottom-flex-header a {
      display: block;
      letter-spacing: 0.2em;
      margin-bottom: 163px;



	}

.contacts-header {
	position: relative;
	margin-left: 70px;
    left:3px;

}


.navigation-bottom {

	display: flex;
	justify-content: space-between;
	width: 500px;
}

.navigation-top {
  display: flex;
  width: 500px;
 

  font-family: "Open Sans";
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  justify-content: space-between;
}

.navigation-top a {
 display: block;
 position: relative;
 margin-bottom: 2px;
 letter-spacing: 0.01px;
 padding-left: 25px;

}

input.search-input {
	border:0;
	background: transparent;
	padding-left: 38px;


  font-family: "Open Sans";
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}

.login-link{
	position: relative;
	margin-right: 175px;
}


.login-link::before {
    content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 9px;
    left: 0px;

	background-color: transparent;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
   

}

.compare-header {
	position: relative;
}

.compare-header::before {
    content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 11px;
    left: 6px;

	background-color: transparent;
    background-image: url(../img/compare.svg);
    background-repeat: no-repeat;
   
}


.cart-header {
	position: relative;
}

.cart-header::before {
    content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top:  9px;
    left: 4px;

	background-color: transparent;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
   
}


.search {
	position: relative;
}

 
.search::before {

	content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    background-color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    top: 8px;
    left: 3px;


}


.triger-popup {
	position: relative;
	padding-right: 40px;

}

.triger-popup::after {
	position: absolute;
	content: "";

	background-color: transparent;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;

    width: 16px;
    height: 16px;

    opacity: 0.3;

    top: 4px;
    right: 13px;

}


.delivery-header {
	position: relative;
}

.delivery-header::after {

	position: absolute;
	content: "";

	width: 100px;
    height: 7px;
    background-color: #fff;

    top: 112px;
    

}


.main-footer {

  position: relative;

  
  
  box-sizing: border-box;
  height: 323px;



 
}

.main-footer ul {

	margin: 0;
	padding: 0;

}




.footer-container {
    
	
  display: flex;
  justify-content: space-between;
  position: relative;

  width: 1160px;
  margin: 0 auto;

 
}

.flex-footer-right {
	display: flex;
	flex-direction: column;
align-items: flex-end;}

.flex-right-top {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	
}

.flex-footer-right p {
	margin-top: 0;
	padding: 0;


	

	margin-top: 34px;
	padding-bottom: 45px;

}

.footer-text-right {
    display: block;

	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0;


}

.flex-right-top a {
	display: block;
}


.flex-footer-left {
    position: relative;
	margin-top: 72px;
	margin-right: 141px;
	width: 220px;
}


.flex-footer-left::after {
	content: "";
	position: absolute;


	width: 80px;
    height: 7px;
    background-color: #ffc600;
    top: 165px;
}

.flex-footer-mid {
	margin-right: 35px;
}

.footer-text-left {

	display: block;
	margin-top: 24px;
	margin-left: -1px;
}

.flex-footer-mid {
	display: flex;
	width: 440px;

	flex-direction: column;
	
	margin-top: 135px;
	


}

.flex-footer-mid .flex-mid-top {
	display: flex;
	justify-content: space-between;
	letter-spacing: 0.2em;

	margin-bottom: 14px;



}





.flex-footer-mid .flex-mid-bottom {
	display: flex;
	justify-content: space-around;
      
     position: relative;
     width: 160px;
     min-height:34px;

     align-self: center;
     margin-top: 50px;
     margin-right: 18px;
     


}

.social-button {
         display: flex;
         
         width: 32px;
         height: 32px;
		 

		position: absolute;
	    

}

.fb-footer {
	background-image: url("../img/fb.svg");   
	    background-repeat: no-repeat;
    position: absolute;
    left: 24px;
}

.inst-footer {
   
	
	background-image: url("../img/instagram.svg");   
	background-repeat: no-repeat;

	position: absolute;
    left: 79px;
    
}

.tw-footer {

	background-image: url("../img/twitter.svg");   
	    background-repeat: no-repeat;

}






}

.flex-mid-top a {
	display: block;

	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.footer-delivery {
	margin-left: 9px;
	margin-top: 1px;

}

.footer-garantee {
	margin-left: 2px;
	margin-top: 1px;
}

.footer-contacts {
	margin-top: 1px;
	margin-right: -4px;
	

}





.flex-footer-right {
	margin-top: 60px;
	width:340px;


}

.flex-footer-right a {
	display: block;

	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.01px;

}

.footer-cart {
	padding-left: 20px;
	margin-left: 44px;
}

.footer-compare {
	padding-left: 20px;
	margin-left: 44px;
}


.login-link-footer{
	position: relative;

}

.footer-compare {
position: relative;

}

.footer-cart {
position: relative;
}






.login-link-footer::before {
	position: absolute;

	content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 12px;
    right: 54px;

    opacity: 1;

	background-color: transparent;
    background-image: url(../img/user-y.svg);
    background-repeat: no-repeat;

}

.footer-compare::before  {
position: absolute;

content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 14px;
    left: -1px;

    color: #ffc600;

	background-color: transparent;
    background-image: url(../img/compare-y.svg);
    background-repeat: no-repeat;

}

.footer-cart::before  {
osition: absolute;

content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 12px;
    left: -3px;

    color: #ffc600;

	
    background-image: url(../img/cart-y.svg);
    background-repeat: no-repeat;
}



.flex-about-contacts {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 65px;

}

.flex-about-contacts .about-header1,
.flex-about-contacts .about-header2  {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 
	color: #000000;
	letter-spacing: 0.01em;
    padding: 0;
    position: relative;
    left: -2px;
	
	margin-bottom: 43px;

}

.flex-about-contacts .about-header1::before,
.flex-about-contacts .about-header2::before {

	position: absolute;
	content: "";

	width: 80px;
	height: 7px;

	background-color: #000000;

	top: -52px;
	left: 2px;

}


.flex-about-contacts p {

font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 
	color: #000000;

	font-weight: 300;
	letter-spacing: 0.01em;
    padding: 0;
    position: relative;
    left: -2px;
   


}

.flex-about-contacts .about-p1 {



 margin-bottom: 30px;

}

.flex-about-contacts .about-p2 {
	margin-bottom: 39px;
}


.flex-about-contacts .services-list {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 
	color: #000000;


}

.flex-about-contacts .about-p3 {

	margin-bottom: 66px;
	letter-spacing: 0.01em;

}
.flex-about-contacts ul {
	margin: 0;
	padding: 0;
	margin-bottom: 54px;

}
.flex-about-contacts li {
    position: relative;

	list-style: none;
	padding-left: 35px;

	font-family: "Gilroy", sans-serif;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.006em;
}

.flex-about-contacts .contacts-image {
	left: 0px;
	margin-bottom: 60px;
}

.flex-about-contacts li::before {
	position: absolute;
    
    content: "";
    width: 4px;
    height:4px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    left: 1px;
    top:40%;

}

.device-btn {
	min-width: 260px;
	position: relative;

	display: inline-block;
    
    font-family: "Gilroy", sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
    text-align: center;
	padding:9px 1px;

	left:3px;
}


.device-btn::before {

	content: "";
	position: absolute;
	

	width: 100%;
	height: 20%;
	z-index: -1;

	left: -2px;
	top:40%;
	background-color: #f0c52e;

	

	transition: all 0.2s ease-in-out;
}

.device-btn:hover::before{
	transform: scaleY(5);

}
 

.device-btn:active {
	color: #be9c22;
}



/*


 НАРАБОТКИ ДЛЯ BUTTON

.device-btn:active::before {
	transform: scaleY(5);

	
    background-color: #000000;

}


.device-btn:active {

	color: #f7e184;

	padding-right: 120px;
}
/**/
.main-navigation {
	min-height: 299px;
}
	
	
    
}

.left-flex-header {
	display: flex;
	flex-direction: column;
	width: 540px;
}

.button-catalog {
	width: 20px;
	height: 20px;
	margin-left: 12px;
	background: transparent;

}

.main-navigation ul {
	padding: 0;
}

.right-flex-header {
	display: flex;
	flex-direction: column;
	width: 500px;
	
}

.flex {
 display: flex;
justify-content: space-between;
padding-left: 60px;
padding-right: 60px;
}

.navigation-top {
	display: flex;
	

}

.navigation-top li:first-child {
	margin-right: auto;
}




.search-input {
	border: 0;
	background: transparent;
}

.navigation-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul.navigation-top {
	padding-top: 43px;
	margin: 0;
	

}


ul.navigation-bottom {
	/*padding-top: 46px;*/
	margin: 0;	
}

.contacts-header {
	margin-left: auto;
}

.compare-header {
	margin-right: 37px;
}

.delivery-header {

	margin-right: 35px;
}




.flex-about-contacts {
	display: flex;
	justify-content: space-between;
}

.flex-about {
	width: 580px;
	height: 520px;
	}




	/* Стили каталога еще */


  .cat-hdr {
	min-height: 168px;
}

.catalog-bottom a {
  margin-bottom: 50px;

}


.container {
	width: 1160px;
	margin: 0 auto;
}

.container .monopods {
	margin: 0 60px;
	margin-top: 37px;
	letter-spacing: 0.012em;
	margin-bottom: 24px;
}

.container .breadcrumbs {
	display: flex;
	
    margin: 0;
    padding:0;
	margin: 0 60px;


}

.container .breadcrumbs a {
    
    display: block;
    
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 24px;
    font-weight: 300;
    opacity: 0.3;
	padding-right: 37px;

    color:#000;
	letter-spacing: 0.012em; 

	margin-bottom: 46px;
	

}


.container .breadcrumbs li {
	position: relative;
}


.container .breadcrumbs a:hover {
	opacity: 0.6;
}

.container .breadcrumbs a:active {
	opacity: 0.1;
	
}


.container .breadcrumbs li:not(:last-child)::after{

	content: "";
	position: absolute;

	width: 4px;
	height: 7px;
    

    top: 9px;
    right: 19px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
    
}

.container .breadcrumbs li:nth-child(2)::after {

	right: 17px;
}





/* Каталог ФИЛЬТР_БАР */


.titles-cat {
	display: flex;
    position: relative;
	width: 100%;
	margin: 0 auto;

	background: #ebebeb;
 
  /*background: #dcdcdc;*/
}

.titles-cat .triangles {
	position: relative;

	width: 50px;
	height: 20px;
	


}

.triangles .triangle1::after {
	content: "";
	position: absolute;

	width: 11px;
	height: 10px;

	top: 5px;
	right: -1px;

	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;

	opacity: 1;
}





.triangles .triangle2::before {
	content: "";
	position: absolute;

	width: 11px;
	height: 10px;

	top: 5px;
	right: 29px;

	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;

	opacity: 0.2;
}

.triangles a:hover::before,
.triangles a:hover::after,
.triangles a:focus::before,
.triangles a:focus::after {
	opacity: 0.4;
}

.triangles a:active::before,
.triangles a:active::after {
	opacity: 1;
}



.titles-cat h2 {
	 font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.23em;

}

.titles-cat .filter {
   
    
    padding-top: 23px;
    padding-bottom:23px;
    padding-right: 177px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 60px;
	

	background: #dcdcdc;
 
}

.sorting-wrap {
	display: flex;
	position: relative;
	align-items: center;

	
}



.sorting-wrap .sorting-h {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 72px;

}
 


.sorting-wrap .sorting-options {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	
    margin-left: 50px;
    margin-top: -2px;
   
    padding-right: 50px;


}

.sorting-options  a {
	display: block;
	color: #000000;

	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	

}

.sorting-options .sorting-price {
	margin-right: 28px;
}

.sorting-options .sorting-type {

	margin-right: 31px;
	opacity: 0.3;
}

.sorting-options .sorting-popularity {

	margin-right: 172px;
	opacity: 0.3;
}

.sorting-options .sorting-popularity:hover ,
.sorting-options .sorting-type:hover,
.sorting-options .sorting-popularity:focus,
.sorting-options .sorting-type:focus {
	opacity: 0.6;
}

.sorting-options .sorting-popularity:active,
.sorting-options .sorting-type:active {
	opacity: 1;
} 





/* Каталог-Главный врапер(большой) */

.main-wrapper {
	display: flex;

background-color: #ffffff;


}

.main-wrapper ul {
	margin:0;
	padding:0;
}


.main-wrapper .catalog-list {
	display: flex;
	flex-wrap: wrap;
}

.main-wrapper .filter-background-color {
	padding-left: 60px;
	box-sizing: border-box;
	width: 523px;
	height: 1217px;
}

.filters fieldset { 
    margin:0;
    padding: 0;

 }











.main-wrapper .catalog-wrapper {
    

	width: 760px;
	margin-left:72px;
	margin-top: 69px;

 }
.flex-wrap-name {
	display: flex;
	justify-content: space-between;
}



 .catalog-item {
 	position: relative;
 	box-sizing: border-box;
 	width: 360px;
 	margin-bottom: 46px;
 }

 .catalog-item:nth-child(2n-1) {
 	margin-right: 40px;
 }

 .catalog-item p,
 .catalog-item  h3 {
 	margin: 0;
 	padding:0;
 }

 .catalog-item .image-cat {
 	display: inline-block;
 	margin-bottom: 26px;
 	
 }
 .catalog-item  a{
 	
 	width: 260px;
 }


 .catalog-item  h3 {
 	letter-spacing: 0.01em;
 	display: inline;
 
 }

 .catalog-item  .short-header {
 	width: 160px;
 }

 .catalog-item b {
 	letter-spacing: 0.01em;
 }

 .catalog-item  .new-item:after {
 	content: "NEW";
    position: absolute;
    top: 29px;
    right: 27px;
    width: 30px;
    height: 16px;
    padding: 20px 13px;
    padding-bottom: 24px;
    padding-top: 16px;
    font-size: 14px;
    font-family: "Gilroy",sans-serif;
    font-weight: 800;
    text-align: center;
    color: rgba(0,0,0,0.2);
    letter-spacing: 1px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 50%;
    vertical-align: center;


 }

 .catalog-item .actions{
    position: absolute;
    width: 100%;
    height: 83%;
    top: 0;
    left:0;
    display: block;

    z-index:10;
}

.actions .actions-buy {
	position: relative;
	display: block;
	width: 200px;
	text-align: center;
	font-family: "Gilroy",sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
    margin: 0 auto;
    margin-top: 175px;
    padding: 5px 0;
	
	margin-bottom: 9px;

}

.actions .actions-compare {


    position: relative;
	display: inline-block;
	width: 150px;
	text-align: center;
	

	font-family: "Open Sans",sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.01em;

	margin: 0 106px;
	opacity: 0.5;

	/*margin-left: 20px;*/
}


 .catalog-item .actions {
display: none;
}


.catalog-item:hover .actions {
	display: block;
	

}

.catalog-item:hover img {
	opacity: 0.7;

}

.actions .actions-compare:hover,
.actions .actions-compare:focus {
	opacity: 1;
}

.actions .actions-compare:active {
	opacity: 0.2;
}

.actions .actions-buy::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 20%;
	top: 13px;
	left:0;

	background-color: #f0c52e;
	z-index: -1;
}
 /* Временно 
	background-color: rgba(100, 100, 255, 0.2);
}

/*

.flex-contacts {
	width: 560px;
	height: 520px;
  background-color: rgba(100, 255, 100, 0.2);
}


.about-p {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.services-list{
list-style: none;
margin-top: 65px;
margin-bottom: 55px;

}


.flex-footer{
height: 323px;

display: flex;
justify-content: space-between;

}


.flex-footer ul,
.flex-footer p  {
 margin: 0;
padding: 0;
}

.main-footer{
	
}

.flex-mid-top {
display: flex;
justify-content: space-between;
background-color: rgba(180, 40,0, .2)

}

.flex-footer-mid {
	width: 440px;
	height: 130px;
	margin-top: 130px;
	background-color: rgba( 100, 20, 255, 0.2);
}

.footer-delivery {
	margin-left: 9px;
}

.footer-contacts {
	margin-right: 9px;

}

.flex-mid-bottom {
 display: flex;
 justify-content: space-between;
 
}

ul.flex-mid-bottom {
	margin-top: 60px;
	width: 
	height: 50px;
	background-color: rgba(100, 20,0, .2);
}

.flex-right-top {
	display: flex;

}

ul.flex-right-top {
	width: 360px;
	height: auto;
	background-color: rgba(0, 200, 50, 0.2);
	justify-content: space-between;
	margin-top: 67px ;
	margin-bottom: 47px;
}

.flex-footer-right {
	display: flex;
	flex-direction: column
}

.flex-footer-right p {
	align-self: flex-end;
	margin-bottom: 61px;
}
.flex-footer-right a {
	align-self: flex-end;
	margin-bottom: 66px;
}
/* ФОТО ДЛЯ СРАВНЕНИЯ JPG 
body {
	background-image: url('../device-index.jpg');
	background-position: -120px 0;
	opacity: 0.5;

}

*/










