
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
	url("../fonts/web/gilroyextrabold.woff") format("woff"),
	url("../fonts/gilroy/Gilroyextrabold.ttf") format("ttf");
	font-style: normal;
    font-weight: 800;
}

@font-face {
	font-family:"Gilroy";
	src: url("../fonts/web/gilroylight.woff2") format("woff2");
 	font-style: normal;
    font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/web/opensans.woff2") format("woff2");
	font-style: normal;
    font-weight: 400;
}
@font-face {
	font-family: "Open Sans";
	src: url("../fonts/web/opensanslight.woff2") format("woff2");
	font-style: normal;
    font-weight: 300;
}


body {
	margin:0;
	padding:0;

	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;

}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 18px ;
	line-height: 24px;
	color: #000000;
	background-color: #f7e296;
}

.navigation-top {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	
}



.triger-popup,
.navigation-bottom{
	font-weight: 800;
	letter-spacing: 3px;
}

.device-header a {
	color: #000000;
	font-size: 48px;
	line-height: 48px;
	letter-spacing: 0.012em;
}

.navigation-catalog,
.popup-header,
.navigation-top,
.navigation-bottom {
	list-style: none;
}

.navigation-catalog a,
.popup-header a,
.navigation-top a,
.navigation-bottom a {
	color: #000000;
} 


.device-header a:hover,
.device-header a:focus,
.navigation-catalog a:hover,
.navigation-catalog a:focus,
.popup-header a:hover,
.popup-header a:focus,
.navigation-top a:hover,
.navigation-top a:focus,
.navigation-bottom a:hover,
.navigation-bottom a:focus

 {
	opacity: 0.6;
}





.popup-header-hidden a {
	margin:0;
	color: #000000;
}


.about h2,
.contacts h2 {
	font-size: 47px;
	line-height: 48px;
}

.about p,
.contacts p {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
}

.services-list {

	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
}

.more-info,
.feedback-link {
	font-family: "Gilroy", Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	line-height: : 24px;
	color: #000000;
	font-weight: 800;
	letter-spacing: 3px;
	/*background-color: #ffc600;*/
}

.button {
	font-family: "Gilroy", Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	line-height: : 24px;
	color: #000000;
	font-weight: 800;
	letter-spacing: 3px;
	background-color: #ffc600;
}

.main-footer {
	color: #ffffff;
	background-color: #464646;
}

.main-footer a {
	color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
	opacity: 0.6 ;
}

.main-footer a:active {
	opacity: 0.3 ;
}

.main-footer ul {
	list-style: none;
}

.footer-device-logo a {
	color: #ffc600;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 48px;
	font-weight: 800;
}

.footer-social {
	text-align: center;
}
.footer-social a{
	opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
	opacity: 0.6;
}

.footer-social a:active {
	opacity: 0.1;
}

.footer-middle {
	text-align: center;
	font-weight: 800; 
}

.footer-text-right,
.footer-text-left {
font-family: "Open Sans", Arial, sans-serif;
font-size: 15px;
line-height: 30px;
font-weight: 300;
}

.footer-left a{
	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	
}

.footer-left a {
	opacity: 0.7;
}






.footer-left a:hover,
.footer-left a:focus
 {
	opacity: 1;
}

.footer-left a:active
 {
	opacity: 0.3;
}


.device-header a:active,
.navigation-catalog a:active,
.popup-header a:active,
.navigation-top a:active,
.navigation-bottom a:active {
	opacity: 0.3;
}









/*
СТИЛИ КАТАЛОГА
*/



.cat-hdr {
	min-height: none;
}


.monopods {
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
}

.breadcrumbs li{
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;

	list-style: none;

	color: #000000;
}
.breadcrumbs-current {opacity: 0.3;}
.breadcrumbs a {opacity: 0.3;}

.breadcrumbs a:hover {
	opacity: 0.6
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter ul {
  list-style: none;
  line-height: 40px;
}


.filter-input-checkbox:disabled + label {
  color: #a6a6a6;

}

.filter-background-color {
	background-color: #eeeeee;
}

.catalog-list {
	list-style: none;
}



.catalog-item:hover {

}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 24px;
}

.catalog-item-price b {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #464646;
  font-weight: 300;
}



.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;


}


/* Сеточные стили */

html, 
body {

min-width: 1240px;
}


h1.device-header {
  margin:0;
  padding: 0;
  
  position: absolute;
  left: 57px;
  top: -24px;
  font-size: 48px;
}


.main-header {
	width: 1160px;
	position: relative;
	min-height: ;
	margin: 0 auto;
	margin-top: 40px;

}

nav.main-navigation {

display: flex;
flex-direction: column;
background-color: #f7e296;
padding-left: 60px;
padding-right: 60px;
justify-content: space-between;


}

.left-flex-header {
	display

}

.main-header ul {
	margin: 0;
	padding: 0;
	
}


.upper-header {

	display: flex;
	justify-content: space-between;

	/*padding-top: 43px;*/
    margin-bottom: 37px;
	line-height: 0.01px;
	
  align-items: flex-end;
}

.bottom-flex-header {

	display: flex;
	justify-content: space-between;


}

.bottom-flex-header a {
      display: block;
      letter-spacing: 0.2em;
      margin-bottom: 163px;



	}

.contacts-header {
	position: relative;
	margin-left: 70px;
    left:3px;

}


.navigation-bottom {

	display: flex;
	justify-content: space-between;
	width: 500px;
}

.navigation-top {
  display: flex;
  width: 500px;
 

  font-family: "Open Sans", Arial, sans-serif;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  justify-content: space-between;
}

.navigation-top a {
 display: block;
 position: relative;
 margin-bottom: 2px;
 letter-spacing: 0.01px;
 padding-left: 25px;

}

input.search-input {
	border:0;
	background: transparent;
	padding-left: 38px;


  font-family: "Open Sans", Arial, sans-serif;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}

.login-link{
	position: relative;
	/*padding-right: 175px;*/
}

.loginflex {
	display: flex;
}

.loginflex  .login-enter {
	padding-left: 18px;
	color: #c4b376;

}


.login-link::before {
    content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 9px;
    left: 0px;

	background-color: transparent;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
   

}

.compare-header {
	position: relative;
}

.compare-header::before {
    content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 11px;
    left: 6px;

	background-color: transparent;
    background-image: url(../img/compare.svg);
    background-repeat: no-repeat;
   
}


.cart-header {
	position: relative;
}

.cart-header::before {
    content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top:  9px;
    left: 4px;

	background-color: transparent;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
   
}


.search {
	position: relative;
}

 
.search::before {

	content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    background-color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    top: 8px;
    left: 3px;


}


.triger-popup {
	position: relative;
	padding-right: 40px;

}

.triger-popup::after {
	position: absolute;
	content: "";

	background-color: transparent;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;

    width: 16px;
    height: 16px;

    opacity: 0.3;

    top: 4px;
    right: 13px;

}


.delivery-header {
	position: relative;
}

.delivery-header::after {

	position: absolute;
	content: "";

	width: 100px;
    height: 7px;
    background-color: #fff;

    top: 112px;
    

}


.main-footer {

  position: relative;

  
  
  box-sizing: border-box;
  height: 323px;



 
}

.main-footer ul {

	margin: 0;
	padding: 0;

}




.footer-container {
    
	
  display: flex;
  justify-content: space-between;
  position: relative;

  width: 1160px;
  margin: 0 auto;

 
}

.flex-footer-right {
	display: flex;
	flex-direction: column;
align-items: flex-end;}

.flex-right-top {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	
}

.flex-footer-right p {
	margin-top: 0;
	padding: 0;


	

	margin-top: 34px;
	padding-bottom: 45px;

}

.footer-text-right {
    display: block;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0;


}

.flex-right-top a {
	display: block;
}


.flex-footer-left {
    position: relative;
	margin-top: 72px;
	margin-right: 141px;
	width: 220px;
}


.flex-footer-left::after {
	content: "";
	position: absolute;


	width: 80px;
    height: 7px;
    background-color: #ffc600;
    top: 165px;
}

.flex-footer-mid {
	margin-right: 30px;
}

.flex-footer-mid-main {
	margin-right: 34px;

}

.footer-text-left {

	display: block;
	margin-top: 24px;
	margin-left: -1px;
}

.flex-footer-mid {
	display: flex;
	width: 440px;

	flex-direction: column;
	
	margin-top: 135px;
	


}

.flex-footer-mid .flex-mid-top {
	display: flex;
	justify-content: space-between;
	letter-spacing: 0.2em;

	margin-bottom: 14px;



}





.flex-footer-mid .flex-mid-bottom {
	display: flex;
	justify-content: space-around;
      
     position: relative;
     width: 160px;
     min-height:34px;

     align-self: center;
     margin-top: 50px;
     margin-right: 18px;
     


}

.social-button {
         display: flex;
         
         width: 32px;
         height: 32px;
		 

		position: absolute;
	    

}

.fb-footer {
	background-image: url("../img/fb.svg");   
	    background-repeat: no-repeat;
    position: absolute;
    left: 24px;
}

.inst-footer {
   
	
	background-image: url("../img/instagram.svg");   
	background-repeat: no-repeat;

	position: absolute;
    left: 79px;
    
}

.tw-footer {

	background-image: url("../img/twitter.svg");   
	    background-repeat: no-repeat;

}






}

.flex-mid-top a {
	display: block;

	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.footer-delivery {
	margin-left: 9px;
	margin-top: 1px;

}

.footer-garantee {
	margin-left: 2px;
	margin-top: 1px;
}

.footer-contacts {
	margin-top: 1px;
	margin-right: -4px;
	

}





.flex-footer-right {
	margin-top: 60px;
	width:340px;


}

.flex-footer-right a {
	display: block;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.01px;

}

.footer-cart {
	padding-left: 20px;
	margin-left: 44px;
}

.footer-compare {
	padding-left: 20px;
	margin-left: 44px;
}


.login-link-footer{
	position: relative;
	width: 150px;

}

.loginflex .login-enter2 {
	color: #8d8d8d;
}

.footer-compare {
position: relative;

}

.footer-cart {
position: relative;
}



.login-link-footer-main {

	position: relative;
	width: 50px;
	margin-right: -7px;
}


.login-link-footer::before {
	position: absolute;

	content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 12px;
    left: -28px;

    opacity: 1;

	background-color: transparent;
    background-image: url(../img/user-y.svg);
    background-repeat: no-repeat;

}


.login-link-footer-main::before {
	position: absolute;

	content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 12px;
    left: -27px;

    opacity: 1;

	background-color: transparent;
    background-image: url(../img/user-y.svg);
    background-repeat: no-repeat;

}


.footer-compare::before  {
position: absolute;

content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 14px;
    left: -1px;

    color: #ffc600;

	background-color: transparent;
    background-image: url(../img/compare-y.svg);
    background-repeat: no-repeat;

}

.footer-cart::before  {
osition: absolute;

content: "";
    position: absolute;

    width: 16px;
    height: 16px;

    top: 12px;
    left: -3px;

    color: #ffc600;

	
    background-image: url(../img/cart-y.svg);
    background-repeat: no-repeat;
}



.flex-about-contacts {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 65px;

}

.flex-about-contacts .about-header1,
.flex-about-contacts .about-header2  {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 
	color: #000000;
	letter-spacing: 0.01em;
    padding: 0;
    position: relative;
    left: -2px;
	
	margin-bottom: 43px;

}

.flex-about-contacts .about-header1::before,
.flex-about-contacts .about-header2::before {

	position: absolute;
	content: "";

	width: 80px;
	height: 7px;

	background-color: #000000;

	top: -52px;
	left: 2px;

}


.flex-about-contacts p {

font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 
	color: #000000;

	font-weight: 300;
	letter-spacing: 0.01em;
    padding: 0;
    position: relative;
    left: -2px;
   


}

.flex-about-contacts .about-p1 {
 width: 425px;
 margin-bottom: 30px;

}

.flex-about-contacts .about-p2 {
	margin-bottom: 39px;
}


.flex-about-contacts .services-list {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 
	color: #000000;


}

.flex-about-contacts .about-p3 {
	width: 485px;
	margin-bottom: 66px;
	letter-spacing: 0.01em;

}
.flex-about-contacts ul {
	margin: 0;
	padding: 0;
	margin-bottom: 54px;

}
.flex-about-contacts li {
    position: relative;

	list-style: none;
	padding-left: 35px;

	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.006em;
}

.flex-about-contacts .contacts-image {
	left: 0px;
	margin-bottom: 60px;
}

.flex-about-contacts li::before {
	position: absolute;
    
    content: "";
    width: 4px;
    height:4px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    left: 1px;
    top:40%;

}

.device-btn {
	min-width: 260px;
	position: relative;

	display: inline-block;
    
    font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
    text-align: center;
	padding:9px 1px;

	left:3px;
}


.device-btn::before {

	content: "";
	position: absolute;
	

	width: 100%;
	height: 20%;
	z-index: -1;

	left: -2px;
	top:40%;
	background-color: #f0c52e;

	

	transition: all 0.2s ease-in-out;
}

.device-btn:hover::before{
	transform: scaleY(5);

}
 

.device-btn:active {
	color: #be9c22;
}



/*


 НАРАБОТКИ ДЛЯ BUTTON

.device-btn:active::before {
	transform: scaleY(5);

	
    background-color: #000000;

}


.device-btn:active {

	color: #f7e184;

	padding-right: 120px;
}
/**/
.main-navigation {
	min-height: 299px;
}
	
	
    
}

.left-flex-header {
	display: flex;
	flex-direction: column;
	width: 540px;
}

.button-catalog {
	width: 20px;
	height: 20px;
	margin-left: 12px;
	background: transparent;

}

.main-navigation ul {
	padding: 0;
}

.right-flex-header {
	display: flex;
	flex-direction: column;
	width: 500px;
	
}

.flex {
 display: flex;
justify-content: space-between;
padding-left: 60px;
padding-right: 60px;
}

.navigation-top {
	display: flex;
	

}

.navigation-top li:first-child {
	margin-right: auto;
}




.search-input {
	border: 0;
	background: transparent;
}

.navigation-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul.navigation-top {
	padding-top: 43px;
	margin: 0;
	

}


ul.navigation-bottom {
	/*padding-top: 46px;*/
	margin: 0;	
}

.contacts-header {
	margin-left: auto;
}

.compare-header {
	margin-right: 37px;
}

.delivery-header {

	margin-right: 35px;
}




.flex-about-contacts {
	display: flex;
	justify-content: space-between;
}

.flex-about {
	width: 1160px;
	height: 520px;
	}




	/* Стили каталога еще */


  .cat-hdr {
	min-height: 168px;
}

.catalog-bottom a {
  margin-bottom: 50px;

}



.container {
	width: 100%;
	
}

.main-wrap {
	width: 1160px;
	margin: 0 auto;
}
.flex-main-wrap {
	display: flex;
}

.flex-main-wrap-top {
	flex-direction: column;

}


.container .monopods {
	margin: 0 60px;
	margin-top: 37px;
	letter-spacing: 0.012em;
	margin-bottom: 24px;
}

.container .breadcrumbs {
	display: flex;
	
    margin: 0;
    padding:0;
	margin: 0 60px;


}

.container .breadcrumbs a {
    
    display: block;
    
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 24px;
    font-weight: 300;
    opacity: 0.3;
	padding-right: 37px;

    color:#000;
	letter-spacing: 0.012em; 

	margin-bottom: 46px;
	

}


.container .breadcrumbs li {
	position: relative;
}


.container .breadcrumbs a:hover {
	opacity: 0.6;
}

.container .breadcrumbs a:active {
	opacity: 0.1;
	
}


.container .breadcrumbs li:not(:last-child)::after{

	content: "";
	position: absolute;

	width: 4px;
	height: 7px;
    

    top: 9px;
    right: 19px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
    
}

.container .breadcrumbs li:nth-child(2)::after {

	right: 17px;
}





/* Каталог ФИЛЬТР_БАР */


.titles-cat {
	display: flex;
    position: relative;
	width: 100%;
	margin: 0 auto;

	background: #ebebeb;
	    background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 10%,#ebebeb 50%,#ebebeb 100%);
 
  /*background: #dcdcdc;*/
}

.titles-cat .triangles {
	position: relative;

	width: 50px;
	height: 20px;
	

}

.triangles .triangle1::after {
	content: "";
	position: absolute;

	width: 11px;
	height: 10px;

	top: 5px;
	right: -1px;

	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;

	opacity: 1;
}





.triangles .triangle2::before {
	content: "";
	position: absolute;

	width: 11px;
	height: 10px;

	top: 5px;
	right: 29px;

	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;

	opacity: 0.2;
}

.triangles a:hover::before,
.triangles a:hover::after,
.triangles a:focus::before,
.triangles a:focus::after {
	opacity: 0.4;
}

.triangles a:active::before,
.triangles a:active::after {
	opacity: 1;
}



.titles-cat h2 {
	 font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.23em;

}

.titles-cat .filter {
   
    
    padding-top: 23px;
    padding-bottom:23px;
    padding-right: 177px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 60px;
	

	background: #dcdcdc;
 
}

.sorting-wrap {
	display: flex;
	position: relative;
	align-items: center;

	
}



.sorting-wrap .sorting-h {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 72px;

}
 


.sorting-wrap .sorting-options {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	
    margin-left: 50px;
    margin-top: -2px;
   
    padding-right: 50px;


}

.sorting-options  a {
	display: block;
	color: #000000;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	

}

.sorting-options .sorting-price {
	margin-right: 28px;
}

.sorting-options .sorting-type {

	margin-right: 31px;
	opacity: 0.3;
}

.sorting-options .sorting-popularity {

	margin-right: 172px;
	opacity: 0.3;
}

.sorting-options .sorting-popularity:hover ,
.sorting-options .sorting-type:hover,
.sorting-options .sorting-popularity:focus,
.sorting-options .sorting-type:focus {
	opacity: 0.6;
}

.sorting-options .sorting-popularity:active,
.sorting-options .sorting-type:active {
	opacity: 1;
} 





/* Каталог-Главный врапер(большой) */

.main-wrapper {
	display: flex;

background-color: #ffffff;

    background: linear-gradient(to right,#efefef 0%,#efefef 29%,#fff 30%,#fff 100%);


}

.main-wrapper ul {
	margin:0;
	padding:0;
}


.main-wrapper .catalog-list {
	display: flex;
	flex-wrap: wrap;
}

.main-wrapper .filter-background-color {
	padding-left: 60px;
	box-sizing: border-box;
	width: 523px;
	height: 1217px;
}

.filters fieldset { 
    margin:0;
    padding: 0;

 }











.main-wrapper .catalog-wrapper {
    

	width: 760px;
	margin-left:72px;
	margin-top: 69px;

 }
.flex-wrap-name {
	display: flex;
	justify-content: space-between;
}



 .catalog-item {
 	position: relative;
 	box-sizing: border-box;
 	width: 360px;
 	margin-bottom: 46px;
 }

 .catalog-item:nth-child(2n-1) {
 	margin-right: 40px;
 }

 .catalog-item p,
 .catalog-item  h3 {
 	margin: 0;
 	padding:0;
 }

 .catalog-item .image-cat {
 	display: inline-block;
 	margin-bottom: 26px;
 	
 }
 .catalog-item  a{
 	
 	width: 260px;
 }


 .catalog-item  h3 {
 	letter-spacing: 0.01em;
 	display: inline;
 
 }

 .catalog-item  .short-header {
 	width: 160px;
 }

 .catalog-item b {
 	letter-spacing: 0.01em;
 }

 .catalog-item  .new-item:after {
 	content: "NEW";
    position: absolute;
    top: 29px;
    right: 27px;
    width: 30px;
    height: 16px;
    padding: 20px 13px;
    padding-bottom: 24px;
    padding-top: 16px;
    font-size: 14px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    text-align: center;
    color: rgba(0,0,0,0.2);
    letter-spacing: 1px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 50%;
    vertical-align: center;


 }

 .catalog-item .actions{
    position: absolute;
    width: 100%;
    height: 83%;
    top: 0;
    left:0;
    display: block;

    z-index:10;
}

.actions .actions-buy {
	position: relative;
	display: block;
	width: 200px;
	text-align: center;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
    margin: 0 auto;
    margin-top: 175px;
    padding: 5px 0;
	
	margin-bottom: 9px;

}

.actions .actions-compare {


    position: relative;
	display: inline-block;
	width: 150px;
	text-align: center;
	

	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0.01em;

	margin: 0 106px;
	opacity: 0.5;

	/*margin-left: 20px;*/
}


 .catalog-item .actions {
display: none;
}


.catalog-item:hover .actions {
	display: block;
	

}

.catalog-item:hover img {
	opacity: 0.7;

}

.actions .actions-compare:hover,
.actions .actions-compare:focus {
	opacity: 1;
}

.actions .actions-compare:active {
	opacity: 0.2;
}

.actions .actions-buy::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 20%;
	top: 13px;
	left:0;

	background-color: #f0c52e;
	z-index: -1;
	transition: all 0.2s ease-in-out;
}

.actions .actions-buy:hover::after {
	transform: scaleY(5);


}


.actions .actions-buy:active {
color: #be9c22;
}





/* КАТАЛОГ-  Пагинация */

.catalog-item:nth-child(3),
.catalog-item:nth-child(4) {
	margin-bottom: 35px;
}

.catalog .pagination-list {

	display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 760px;
    height: 70px;
	list-style: none;
	margin-left:72px;
     
     
	background-color: #ebebeb;
}
/*.pagination-list .back {

	padding: 25px 20px;
	padding-left: 30px;
	padding-top: 24px;
	margin-right: 10px;
    

*/
}
.pagination-list .forward {
	    width: 85px;
    padding: 25px 20px;


}
.pagination-list a {
	display: block;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	font-weight: 800;
	color: #000000;
	vertical-align: middle;

}

.pagination-item-current {
	margin-left: 220px;
}

.pagination-list .pagination-item-current {
	color: #000000;
}

.pagination-item:nth-child(4) {
	margin-right: auto;
}

.pag-numbr {
	
	margin-top: 25px;
}
.pg-2 {
	margin-left: 27px;
	margin-right: 28px;
}

.pagination-list .pag2, .pagination-list .pag3 {
	color: #cacaca; 
}

.pag2:hover, .pag3:hover,
.pag2:focus, .pag3:focus {
	color: #8d8d8d; 
}

.pag2:active, .pag3:active {
	color: #000; 
}

.back-a, .forward-a {
	    padding: 25px 20px;
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 22px;
}
.pagination-list .forward-a {

padding-right: 25px;
letter-spacing: 0.24em;

}


.back-a:hover, .forward-a:hover,
.back-a:focus, .forward-a:focus {
 background-color: #d9d9d9;
}
.back-a:active, .forward-a:active {

	color: #acacac ;
	background-color: #d9d9d9;
}




/*МОДАЛЬНЫЕ ОКНА*/

/*Окно для ФИДБЕКА */

.modal-feedback {
    display: none;


	color:#000;
	background-color: #fff;

	width: 760px;
	
	padding: 92px 100px;  
    padding-bottom: 84px;

	position: fixed;
	z-index: 20;



    top: 155px;  /* Поправить позицию сверху, должно быть 1055px*/
    left: 50%;
    margin-left: -480px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.modal-feedback p {
	margin: 0;
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	margin-bottom: 33px;
}

.modal-close {
position: absolute;

top: 21px;
right: 22px;
font-size: 0;
border: 0;
cursor: pointer;
width: 55px;
height: 55px;
background-color: transparent;

background-image: url('../img/modal-close.svg');
background-repeat: no-repeat;
opacity: 0.5;

}

.modal-close:hover, 
.modal-close:focus{
	opacity: 1;
	outline: none;
}

.modal-close:active {
	opacity: 0.35;
	outline: none;
}


.feedback-form {
	display: flex;
	flex-wrap: wrap;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 360px;

  padding: 15px 20px;
  padding-bottom: 17px;
  margin-top: 7px;

  color: #bababa;
  
  
  border: 0;
  outline: none;
}

.feedback-form input[type="text"] {
	margin-right: 40px;

}

.feedback-area {
	width: 100%;
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.01em;
	margin-bottom: 7px;
}

.feedback-area-bar {

	border: 0;
	font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  height: 156px;

  padding: 15px 20px;
  padding-bottom: 17px;
  margin-bottom: 48px;
  outline: none;
}

.button-send {
    min-width: 200px;
    position: relative;
    display: inline-block;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-align: center;

   
    border: 0;
 	cursor: pointer;
    z-index: 1;
    background-color: transparent;

}


.button-send::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 29%;
    z-index: -1;
    left: 0px;
    top: 34%;
    background-color: #f0c52e;
    transition: all 0.2s ease-in-out;

}


.button-send:hover::before,
.button-send:focus::before {
	transform: scaleY(5);
	outline: none;

}

.button-send:active{
	color: #be9c22;
	outline: none;
  

}




.modal-map {
    display: none;

	position: fixed;
	top: 50%;
	left: 50%;
     
    z-index: 21; 
	width:960px; 
	height:559px;
	margin-top: -280px;
	margin-left: -480px;
	background-color: transparent;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);


}

.modal-map p {
	margin: 0;
}



/*ФОРМА В КАТАЛОГЕ (СЛЕВА) */

.filters .filter {
	display: flex;
	flex-direction: column;
}

.filter-item {
	position: relative;
	margin:0;
	padding: 0;

	border: none;

	width: 200px;


}

.filter-item::before,
.filter-item::after {
	content: "";
	position: absolute;

	top: 69px;
	left: 0px;

	height: 2px;
	width: 100%;
	background-color: #000000;
}

.filter-item::after{
	top: 209px;

}

.filters .filter-item {
	margin-bottom: 40px;

}

.filter-item legend {
	padding-top:81px;

	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;

	letter-spacing: 0.01em;


}

.range-filter{
	width: 200px;
	margin-top:20px;
	margin-bottom: ; /* ADD MARGIN*/ 
}

.range-controls {
	position: relative;
	height: 15px;
	padding-top: 15px;

}

.range-controls .scale {
	height: 2px;
	background-color: #dbdbdb;
}

.range-controls .bar {
	height: 2px;
	background-color: #91c92f;
	width: 60%
}

.range-controls .toggle {
  position: absolute;
  top: 5px;
  left: -6px;


  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  border-radius: 50%;

  cursor: pointer;

}

.range-controls .toggle-max {
  left: 107px;
}
.price-controls {
  font-size: 0;
  margin-left: -1px;
  margin-top: -3px;
}

.price-controls label {
  display: inline-block;
  width: 45%;
  font-size: 14px;
  color: #cfcfcf;
}

.price-controls input {

  width: 40px;
 /* padding: 8px 10px;*/
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  margin-left: -3px;

/*  text-align: center;*/
  color: #cfcfcf;
  border: none;
  background-color: transparent;
}


/*COLOR_FILTER*/
.filter .color-item {
	position: relative;
	width: 200px;
	margin-bottom: 44px;
}

.color-item::after {
	position: absolute;
	content: "";
	bottom: -34px;
	left: 0px;

	height: 2px;
	width: 100%;
	background-color: #000000;
}



.color-item legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;

	letter-spacing: 0.01em;
	margin-bottom: 17px;

}

/*.color-pick-option {
	display: block;
	font-size: 0;
}*/
.color-item label {
	position: relative;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.01em;
    
    position: relative;
    cursor: pointer;
    user-select: none;

}

.color-pick-option{
  
  padding-left: 38px;
}

.color-pick-option input[type="checkbox"] + label::before {
	position: absolute;
	content: "";


    width: 27px;
    height: 23px;

	top: -2px;
	left: -40px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	/*background-position: 50% 50%;*/

}

.color-pick-option input[type="checkbox"]:checked + label::before {
	

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	/*background-position: 50% 50%;*/

}

.color-pick-option input[type="checkbox"]:disabled + label::before,
.color-pick-option input[type="checkbox"]:disabled + label {
	opacity: 0.25;
}

.color-pick-option label:hover::before,
.color-pick-option label:focus::before {
	opacity: 0.6;
}

.color-pick-option label:active::before {
	opacity:1;
}

/*BLUETOOTH-FILTER*/

.filters .bluetooth-item {
	position: relative;
	width: 200px;
	margin-bottom: 39px;

}

.bluetooth-item legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;

	letter-spacing: 0.01em;
	margin-bottom: 17px;

}

.bluetooth-item label {
	position: relative;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.01em;
    
    position: relative;
    cursor: pointer;
    user-select: none;

}

.bluetooth-pick-option{
  
  padding-left: 38px;
}

.bluetooth-pick-option input[type="radio"] + label::before {
	position: absolute;
	content: "";


    width: 25px;
    height: 25px;

	top: -4px;
	left: -40px;

	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.bluetooth-pick-option input[type="radio"]:checked + label::before {
	

	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	/*background-position: 50% 50%;*/

}
.bluetooth-pick-option input[type="checkbox"]:disabled + label::before,
.bluetooth-pick-option input[type="checkbox"]:disabled + label {
	opacity: 0.25;
}

.bluetooth-pick-option label:hover::before,
.bluetooth-pick-option label:focus::before {
	opacity: 0.6;
}

.bluetooth-pick-option label:active::before {
	opacity:1;
}

.button-show {
	background-color: transparent;
	width: 200px;
	cursor: pointer;
	user-select: none;
}




/*INDEX_PARTNERS*/
.partners {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 100px;

}

.partners-flex {
	display: flex;
	justify-content: space-between;

}
.partners a {
	position: relative;
}

.parners-flex img {
	transition: opacity 0.2 ease-in;

}

.partners-flex img:last-child {
	position: absolute;;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.partners-flex img:hover:last-child {
	opacity: 1;
}


/*INDEX_SELLING-POSITIONS*/

.selling-positions {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 180px; /*ПОМЕНЯТЬ МАРГИН*/

	margin-top: -5px;

}

.selling-positions-flex {
	display: flex;
	justify-content: space-between;

}

.s-position-container {
	/*box-sizing: border-box;*/
	width: 160px;
	height: 160px;
	background-color: #f7e296;
	margin-bottom: 34px;
}

.s-position-container:hover,
.s-position-container:focus {
	background-color: #f0c52e;

}

.s-position-container  {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selling-positions span{
	display: inline-block;
	width: 160px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #000;
}

.selling-positions .short-span {
	width: 100px;
}

.selling-positions a:active span {
	color: #cacaca;
}

.selling-positions a:active img {
	opacity: 0.3;
}


.s-position-container .img-position-1 {
	position: absolute;
	bottom: 53px;
	left: 31px;
}

.s-position-container .img-position-2 {
	position: absolute;
	bottom: 2px;
	left: 38px;
}

.s-position-container .img-position-3 {
	position: absolute;
	bottom:35px;
	left: 49px;
}

.s-position-container .img-position-4 {
	position: absolute;
	bottom:45px;
	left: 28px;
}

.s-position-container .img-position-5 {
	position: absolute;
	bottom:30px;
	left: 55px;
}

.s-position-container .img-position-6 {
	position: absolute;
	bottom:42px;
	left: 13px;
}


/*Index-Slider-container-top*/

.main-slider {
	width: 1160px;
    margin: 0 auto;
    /*margin-bottom: 40px;
    margin-top: 20px;*/

}

.slider-container {
	display: flex;
	justify-content: space-between;
	padding: 0 80px;
	

}

.slider-container ul,
.slider-container li,
.slider-container p {
	padding:0;
	margin:0;
}

.slider-container .slider-item {
	position: relative;
	top: -32px;

}


.slider-container ul {
	list-style: none;


}
.slider-container .slider-image1 {
	padding-left: 10px;
	padding-right: 125px;
	position: relative;
	top: -111px;

}


.slider-container .slider-first {
	margin-bottom: -20px;
}

.slider-container .slider-image2 {
	padding-left: 36px;
	padding-right: 138px;
	position: relative;
	top: -99px;
}

.slider-container .slider-item2 {
	padding-right:41px;
}


.slider-container .slider-image3 {
	margin-left: -49px;
	padding-right: 42px;
	position: relative;
	top: -46px;
	padding-bottom: 151px;
}

.slider-container .slider-item3 {

}

.slider-item3 h3 {
	width: 520px;
}


.slider3-padding {
	padding-right: 193px;
}


.slider-item > p {

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	font-weight: 300;

	width: 481px;
	padding-bottom: 42px;

}

.slider-item2 > p {
	width: 460px;
}

.slider-item3 > p {
width: 460px;
}



.slider-container h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.015em;
	font-weight: 800;
	padding-bottom: 19px;

	
	margin: 0;
}

.big-slider-wrap {
	position: relative;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  

  background-image: url("../img/slider-button-empty.svg");
  
  background-repeat: no-repeat;


 /* vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;*/
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  top: 216px;
  right: 62px;
  z-index: 20;
  
  font-size: 0;
}

.slider-button {

	min-width: 220px;

	color: #000;
	font-weight: 800;
	text-transform: uppercase;
	left:1px;
	margin-bottom: 48px;
	}









.slider-container {
  display: none;
}


#product-1:checked ~ .main-slider #slide1,
#product-2:checked ~ .main-slider #slide2,
#product-3:checked ~ .main-slider #slide3 {
  display: flex;
}


#product-1:checked ~ .main-slider label[for="product-1"],
#product-2:checked ~ .main-slider label[for="product-2"],
#product-3:checked ~ .main-slider label[for="product-3"] {
	background-image: url('../img/slider-button.svg');
}



.slider-item-t-info {
	display: flex;
	width: 428px;
	justify-content: space-between;
}

.slider-item-t-info span {
	display: block;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.01em;
	color: #000;
	font-weight: 300;
	padding-bottom: 8px;
}

.slider-item-t-info p {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: #464646;
	padding-left: 1px;
}



.slider-first,
.slider-second,
.slider-third
 { position: relative;
 }

 .slider-first::before,
 .slider-second::before,
 .slider-third::before {
 	content: "01";
 	position: absolute;

 	top:-125px;
 	right: 46px;

 	font-family: "Gilroy", Arial, sans-serif;
 	font-size: 179.2px;
 	font-weight: 800;
 	line-height: 179.2px;
 	letter-spacing: 0.01em;
 	color: #fff;

 }
 
 .slider-second::before {
 	content: "02";
 	letter-spacing: 0.015em;
 }

 .slider-third::before{
 	content: "03";
 	letter-spacing: 0.02em;
 }

 /* INDEX_SERVICES*/


 .slider-services {
 	background-color: #e5e5e5;
 	padding-bottom: 96px;
 	margin-bottom: 94px;
 }

 .slider-services-container {
 	display: flex;


 	width: 1160px;
 	margin: 0 auto;
 }

 .slider-services-container ul,
 .slider-services-container li,
 .slider-services-container p {
 	margin: 0;
 	padding:0; 
 }

 .slider-services-container ul {
 	list-style: none;
 }

.slider-services-container .left-slider-container {
	width: 280px;
	padding-right:  120px;
	position: relative;
	top: -21px;


}

.left-slider-container::after {
	content: "";
	position: absolute;

	width: 7px;
	height: 319px;
	top: -79px;
	left: 277px;

	background-color: #000;
}

.left-slider-container label {
	width: 160px;
	
    position: relative;
    display: inline-block;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 9px 1px;
    font-weight: 800;
    
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
 
    z-index: 1;

    margin-bottom: 22px;
}

.left-slider-container label::before {

	content: "";
	position: absolute;
	

	width: 100%;
	height: 20%;
	z-index: -1;

	left: -1px;
	top:40%;
	background-color: #f0c52e;

	

	transition: all 0.2s ease-in-out;
}

.left-slider-container label:hover::before{
	transform: scaleY(5);

}
 

.left-slider-container label:active {
	color: #be9c22;
}

.slider-services .right-slider-container {
	padding-left: 1px; 
	position: relative;
	top: -27px;

}

.right-slider-container h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.02em;
	color: #000;
	margin: 0;
	margin-bottom: 31px;

}

.right-slider-container p {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.017em;
	color: #464646;
	width: 440px;
}

.sevice-item {
	display: none;
}


#slider-service1:checked ~ .slider-services-container .sevice-item1,
#slider-service2:checked ~ .slider-services-container .sevice-item2 ,
#slider-service3:checked ~ .slider-services-container .sevice-item3 {
	display: block;
}

#slider-service1:checked ~ .slider-services-container label[for="slider-service1"],
#slider-service2:checked ~ .slider-services-container label[for="slider-service2"],
#slider-service3:checked ~ .slider-services-container label[for="slider-service3"]
{
	background-color: #000;
	color: #f7e184;



}

#slider-service1:checked ~ .slider-services-container label[for="slider-service1"]::before,
#slider-service2:checked ~ .slider-services-container label[for="slider-service2"]::before,
#slider-service3:checked ~ .slider-services-container label[for="slider-service3"]::before {
	content: none;

}

#slider-service1:checked ~ .slider-services-container label[for="slider-service1"]::after,
#slider-service2:checked ~ .slider-services-container label[for="slider-service2"]::after,
#slider-service3:checked ~ .slider-services-container label[for="slider-service3"]::after {

content: "";
position: absolute;
background-color: #000;

width: 135px;
height: 42px;
top: 0px;
}
#slider-service2:checked ~ .slider-services-container label[for="slider-service2"]::after {
	width: 145px;
}
#slider-service3:checked ~ .slider-services-container label[for="slider-service3"]::after {
	width: 155px;
}

.sevice-item::after {
	content: "";
	position: absolute;

    top: 12px;
    right: -253px;

    height: 164px;
    width: 136px;
    
    

}

.sevice-item1::after {
	background-image: url('../img/delivery.svg');
	background-repeat: no-repeat;
    background-position: 0 0 ;


}

.sevice-item2::after {
	background-image: url('../img/warranty.svg');
	background-repeat: no-repeat;
    background-position: 0 0 ;

    width: 171px;
    height: 194px;

   	top: -12px;
    right: -273px;

}

.sevice-item3::after {
	background-image: url('../img/credit.svg');
	background-repeat: no-repeat;
    background-position: 0 0 ;
    height: 186px;
    width: 156px;

	top: -12px;
    right: -249px;
}





/*HIDDEN POPUP*/
.bottom-flex-header .popup-header-hidden {
	display: none;
	list-style: none;
	position: absolute;

	z-index: 30;
	background-color: #f7e296;
	bottom:0px;
	left: 0;

	width: 1100px;
	height: 141px;
	
	
	padding-left: 60px;
	
}

.bottom-flex-header .popup-header-hidden-cat {

	bottom:-110px;

}

.popup-header-hidden a {
	margin:0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.0em;
	color: #000;
	display: inline-block;

}


.popup-header-hidden a:hover,
.popup-header-hidden a:focus {
	color: #887b46;
}

.popup-header-hidden a:active {
	color: #c4b267;
}

.smart-watch {
	margin-bottom: 40px;
}

.navigation-catalog > li:hover .popup-header-hidden,
.bottom-flex-header .popup-header-hidden:hover {
	display: flex;

	flex-direction: column;
	overflow: hidden;
	flex-wrap: wrap;
	padding-top: 22px;
}

.popup-header-hidden  li:nth-child(4) ,
.popup-header-hidden  li:nth-child(5) {
	display: inline-block;
	width: 200px;
	margin-left: -252px;
}

.popup-header-hidden  li:nth-child(6) {
	margin-left: -355px;
}

/*Input Settings*/
.search input[type="search"] {
b
 outline: none;
     width: 315px;
   /*  min-height: 49px;*/
     border:none;
  }

.search input[type="search"]:focus {
	border-bottom: 2px solid #000;
	outline:none;

}


.search .search-input::placeholder {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #cbba7a;
	letter-spacing: 0.01em;
}

.search .search-input:hover::placeholder{
	color: #998c5b;
}


.search input[type="submit"] {
	padding: 0;
	    display: none;
	  position: absolute;
	  top: -15px;
	  left: 310px;
    width: 85px;
    min-height: 49px;
    margin-left: -4px;
    background-color: #f7e296;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}


.search input[type="submit"]:hover,
.search input[type="submit"]:focus {
	color: #fff;
	background-color: #000;
}


.search input[type="submit"]:active {
	color: #747474;
}

.search input[type="search"]:focus ~ input[type="submit"],
.search input[type="search"]:focus ~ input[type="submit"]:focus {
	display: block;
}

.search input[type="submit"]:hover ~ input[type="search"]

.search input[type="submit"]:active {
	color: #747474;
}


/*.modal-map iframe {
  position: relative;
  z-index: 3;

  border: none;
}
.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map button {
	z-index: 2;
}*/















.contacts-image img {
	cursor: pointer;

}




@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
	0% 100% {transform: translateX(0px);}
	10% 30% 50% 70% 90% {transform: translateX(-10px);}
	20% 40% 60% 80% {transform: translateX(10px);}
}



.modal-feedback-open {
	display: block;
	animation-name: bounce;
	animation-duration: 0.5s;
	
}



.modal-map-open {
	display: block;
	animation-name: bounce-map;
	animation-duration: 0.5s;

}

.modal-error {
  animation: shake 0.6s;
}


/*.search input[type="search"] {
   width: 315px;
    min-height: 49px;
    padding-left: 40px;
    background-color: #f7e296;
    border: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    opacity: 0;
        -webkit-appearance: textfield;
    outline-offset: -2px;
}*/
/*.search input[type="submit"] {
    display: none;
    width: 85px;
    min-height: 49px;
   
    background-color: #f7e296;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
   }

   .search input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
   }

   .search input[type="submit"]:active {
   	color: #747474;
   }

.search input[type="search"]:focus {
	border-bottom: 2px solid #000;
    outline: none;
    opacity: 1;

}

.search input[type="search"]:focus ~ input[type="submit"] {
	display: inline-block;
	position: relative;

}*/

/*.slider-container:nth-child(1) {
  display: flex;
}
/*
*/




/*.device-btn::before {

	content: "";
	position: absolute;
	

	width: 100%;
	height: 20%;
	z-index: -1;

	left: -2px;
	top:40%;
	background-color: #f0c52e;

	

	transition: all 0.2s ease-in-out;
}

.device-btn:hover::before{
	transform: scaleY(5);

}
 

.device-btn:active {
	color: #be9c22;
}

*/


 /* Временно 
	background-color: rgba(100, 100, 255, 0.2);
}

/*

.flex-contacts {
	width: 560px;
	height: 520px;
  background-color: rgba(100, 255, 100, 0.2);
}


.about-p {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.services-list{
list-style: none;
margin-top: 65px;
margin-bottom: 55px;

}


.flex-footer{
height: 323px;

display: flex;
justify-content: space-between;

}


.flex-footer ul,
.flex-footer p  {
 margin: 0;
padding: 0;
}

.main-footer{
	
}

.flex-mid-top {
display: flex;
justify-content: space-between;
background-color: rgba(180, 40,0, .2)

}

.flex-footer-mid {
	width: 440px;
	height: 130px;
	margin-top: 130px;
	background-color: rgba( 100, 20, 255, 0.2);
}

.footer-delivery {
	margin-left: 9px;
}

.footer-contacts {
	margin-right: 9px;

}

.flex-mid-bottom {
 display: flex;
 justify-content: space-between;
 
}

ul.flex-mid-bottom {
	margin-top: 60px;
	width: 
	height: 50px;
	background-color: rgba(100, 20,0, .2);
}

.flex-right-top {
	display: flex;

}

ul.flex-right-top {
	width: 360px;
	height: auto;
	background-color: rgba(0, 200, 50, 0.2);
	justify-content: space-between;
	margin-top: 67px ;
	margin-bottom: 47px;
}

.flex-footer-right {
	display: flex;
	flex-direction: column
}

.flex-footer-right p {
	align-self: flex-end;
	margin-bottom: 61px;
}
.flex-footer-right a {
	align-self: flex-end;
	margin-bottom: 66px;
}
/* ФОТО ДЛЯ СРАВНЕНИЯ JPG 
body {
	background-image: url('../device-index.jpg');
	background-position: -120px 0;
	opacity: 0.5;

}

*/










